body {
  font-family: 'Roboto', sans-serif;
}
#summary {
  text-align: center;
  background: #6d62ea;
  text: white;
  border-radius: 24px;
  height: 90px;
  display: flex;
  align-items: center;
  margin-bottom: 66px;
}
#summary h1{
  position: relative;
  left: 55px;
}
table {
    border-collapse: collapse;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.verticalLine {
  border-left: 1px solid black;
}
td {
	border: 1px solid white;
	background: #63ddab;
	text-align: center;
	color: black;
	padding: 8px;
}
th {
		color: white;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr {
	color: white;
}
#logo {
	position: relative;
  bottom: 30%;
	float: left;
	width: 60px;
	left: 10px;
	height: 40px;
}
.back {
  color: white;
  float: right;
  background: #3232aa;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 12px;
}
.back:hover {
  color: white;
  float: right;
  background: #f63440;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
